.container {
  margin: 100px auto;
  background-color: gainsboro;
  position: relative;
  overflow: hidden;
}

.score {
  text-align: center;
}

.food,
.snake-item {
  position: absolute;
  background-color: green;
  box-sizing: border-box;
  border: 1px solid greenyellow;
}

.snake-item {
  z-index: 9;
}

.food {
  background-color: red;
  z-index: 1;
}

.new-game {
  padding: 5px 10px;
  color: #fff;
  min-width: 100px;
  background-color: dodgerblue;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  margin: 0 auto;
}

.new-game:hover {
  background-color: blue;
}
